@{
    ViewBag.Title = "Видеогалерея";
    ViewBag.HeaderTitle = "Наша коллекция видео";
}

@using MvcApp6_0
@{
    string[] imageUrls = new string[]
    {
        "/static/img/image1.webp",
        "/static/img/image2.webp",
        "/static/img/image3.webp",
        "/static/img/image4.webp"
    };

    string[] titles = new string[]
    {
        "Nature Video",
        "City Life",
        "Technology",
        "Adventure"
    };
}


<section>
    @Html.CreateVideoCards(imageUrls, titles, "Популярные видео")
</section>

<section>
        @VideoCardHelper.CreateVideoCards(Html, imageUrls, titles, "Последние добавления")
</section>
