@{
    ViewBag.Title = "Index";
    Person tom = new Person("Tom", 37);
}



<h2>Person Data</h2>
<h3>Name: @tom.Name</h3>
<h3>Age: @tom.Age</h3>

<h3>Index Content</h3>

<h1>Welcome</h1>

@await Html.PartialAsync("Hello")